<accordion close-others="true">
	<accordion-group is-open="status.open">
		<accordion-heading>Board Certifications<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
	<accordion-group>
		<accordion-heading>Clinical Evaluations<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
	<accordion-group>
		<accordion-heading>Licenses<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
	<accordion-group>
		<accordion-heading>Professional Questions<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
</accordion>