<accordion close-others="true">
	<accordion-group is-open="status.open">
		<accordion-heading>Fellowships<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
	<accordion-group>
		<accordion-heading>Internships<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
	<accordion-group>
		<accordion-heading>Medical Schools<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
	<accordion-group>
		<accordion-heading>Practices<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
	<accordion-group>
		<accordion-heading>Residencies<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
	<accordion-group>
		<accordion-heading>Work History<span class="badge pull-right">0</span></accordion-heading>
		This is just some content to illustrate fancy headings.
	</accordion-group>
</accordion>