
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills">
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::ai.doctorId}}')" class="ng-cloak">General Info</a></li>
			<li role="presentation" class="active"><a>Account Info</a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::ai.doctorId}}/education-and-work')">Education &amp; Work</a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::ai.doctorId}}/qualifications')">Qualifications</a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::ai.doctorId}}/tracking')">Tracking <span class="badge" ng-bind="ai.trackingData.length"></span></a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::ai.doctorId}}/job-matches')">Matches <span class="badge" ng-bind="ai.matches.length"></span></a></li>
		</ul>
	</div>
</div>

<hr />

<div class="text-center row" ng-show="ai.loading">
	<div class="col-md-12 form-group">
	  <i class="fa fa-refresh fa-spin fa-4x"></i>
	</div>
</div>

<div ng-hide="ai.loading || ai.error" class="ng-hide">

	<section id="authentication-section">
		
		<div class="row">
			<div class="col-xs-6">
				<div ng-show="ai.doctorData.user_id">
					<div><h4>Authentication</h4></div>
					<div class="form-group">
						<label for="email">Authentication Email</label>
						<div class="input-group">
							<input type="email" class="form-control input-sm" id="email" ng-model="ai.doctorData.auth_email">
							<span class="input-group-btn">
								<button class="btn btn-primary btn-sm" ng-really-message="Are you sure you want to change the email?" ng-really-click="ai.updateAuthEmail()">Update Email</button>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<div class="input-group">
							<input type="password" class="form-control input-sm" ng-model="ai.newPassword" minlength="8" />
							<span class="input-group-btn">
								<button class="btn btn-primary btn-sm" ng-really-message="Are you sure you want to change the password?" ng-really-click="ai.updatePassword()">Change Password</button>
							</span>
						</div>
					</div>
				</div>
				<div ng-if="!ai.doctorData.user_id">
					<h4>Create Authentication</h4>
					<div class="form-group">
						<label>Authentication Email</label>
						<input type="email" class="form-control input-sm" id="email" ng-model="ai.auth_email">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control input-sm" ng-model="ai.password" minlength="8" />
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-sm" ng-really-message="Are you sure you want to change the email?" ng-really-click="ai.submitAuthInfo()">Create Authentication</button>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<h4>Specialties</h4>
	
				<div class="row">
					<div class="col-xs-6">
						<label>Specialty</label>
					</div>
					<div class="col-xs-6">
						<label>Actions</label>
					</div>
				</div>
		
				
				<div class="row" ng-repeat="dspec in ai.specialtyData track by $index">
					<form novalidate ng-submit="ai.submitSpecialty(dspec)">
						<div class="col-xs-6 form-group">
							<input type="search" class="form-control input-sm" typeahead-min-length="4" typeahead-loading="loadingspec" ng-model="dspec.specialty"  typeahead="spec.specialty as spec.specialty for spec in appCtrl.querySpecialties($viewValue)" placeholder="Search Specialty..." typeahead-on-select="dspec.specialty_id = $item.id" typeahead-editable="false" />
							<i ng-show="loadingspec" class="fa fa-spinner fa-pulse typeahead-loader"></i>
						</div>
						<div class="col-xs-6 form-group">
							<button class="btn btn-danger btn-sm" role="button" type="button" ng-click="ai.deleteSpecialty(dspec.id)" ng-show="dspec.id"><i class="fa fa-trash-o"></i> Delete</button>
							<button class="btn btn-primary btn-sm">Submit</button>
						</div>
					</form>
				</div>
				<br />
				<div class="row">
					<div class="col-xs-12 form-group">
						<button class="btn btn-success btn-sm" ng-click="ai.addSpecialty()"><i class="fa fa-plus"></i> Add Specialty</button>
					</div>
				</div>
			</div>

		</div>
	</section>
	<hr />
	<div class= "row">
		<div class="col-xs-6">
			<h4>States Subscribed</h4>	
			<accordion close-others="true">
				<accordion-group is-open="true">
					<accordion-heading>Northeast<span class="badge pull-right" ng-bind="1"></span></accordion-heading>
					<div ng-repeat="(key, value) in appCtrl.usStates | filter: { region: 'Northeast' }">
						<input type="checkbox" ng-model="ai.states[value.abbreviation]" ng-click="ai.updateState(value.abbreviation)" />
						<label ng-bind="value.name"></label>
						
					</div>
				</accordion-group>
				<accordion-group is-open="true">
					<accordion-heading>Midwest<span class="badge pull-right" ng-bind="1"></span></accordion-heading>
					<div ng-repeat="(key, value) in appCtrl.usStates | filter: { region: 'Midwest' }">
						<input type="checkbox" ng-model="ai.states[value.abbreviation]" ng-click="ai.updateState(value.abbreviation)" />
						<label ng-bind="value.name"></label>
					</div>
				</accordion-group>
				<accordion-group is-open="true">
					<accordion-heading>South<span class="badge pull-right" ng-bind="1"></span></accordion-heading>
					<div ng-repeat="(key, value) in appCtrl.usStates | filter: { region: 'South' }">
						<input type="checkbox" ng-model="ai.states[value.abbreviation]" ng-click="ai.updateState(value.abbreviation)" />
						<label ng-bind="value.name"></label>
					</div>
				</accordion-group>
				<accordion-group is-open="true">
					<accordion-heading>West<span class="badge pull-right" ng-bind="1"></span></accordion-heading>
					<div ng-repeat="(key, value) in appCtrl.usStates | filter: { region: 'West' }">
						<input type="checkbox" ng-model="ai.states[value.abbreviation]" ng-click="ai.updateState(value.abbreviation)" />
						<label ng-bind="value.name"></label>
					</div>
				</accordion-group>
			</accordion>
		</div>
		
		
		
		
		
		<!-- Board Certifications -->
		<div class="col-xs-6">
			<h4>ABMS Certifications</h4>	
			<div ng-repeat="bc in ai.abmsCertifications track by $index">
				<form novalidate ng-submit="ai.submitABMSCertifications(bc)">
					<div class="row">
						<div class="col-md-6 form-group">
							<label>Board</label>
							<select class="form-control input-sm" ng-model="bc.abms" ng-options="board.abms as board.abms for board in ai.boards">
								<option value="">-- Select Board --</option>
							</select>
						</div>
						<div class="col-md-6 form-group">
							<label>Specialty</label>
							<select class="form-control input-sm" ng-model="bc.specialty_id" ng-options="cert.id as cert.specialty for cert in appCtrl.abmsCertifications | filter: {abms : bc.abms}">
								 
								<option value="">-- Select Specialty --</option>
								
								<option ng-repeat="" value="{{board.id}}" ng-bind="board.specialty"></option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 form-group" ng-show="bc.specialty_id && bc.abms">
							<label>Issue Date</label>
							<div class="input-group">
									<input  placeholder="MM/DD/YYYY" type="text" class="form-control input-sm" datepicker-popup="{{ai.format}}" ng-model="bc.issue_date" is-open="ai.opened['board_cert_expire_'+$index]" max-date="bc.expiration_date || '01/01/2025'"  datepicker-options="ai.dateOptions" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default btn-sm" ng-click="ai.open($event,'board_cert_expire_'+$index)"><i class="fa fa-calendar fa-fw"></i></button>
									</span>
								</div>
						</div>
						<div class="col-md-6 form-group" ng-show="bc.specialty_id && bc.abms">
							<label>Expiration Date</label>
							<div class="input-group">
									<input  placeholder="MM/DD/YYYY" type="text" class="form-control input-sm" datepicker-popup="{{ai.format}}" ng-model="bc.expiration_date" is-open="ai.opened['board_cert_'+$index]" max-date="'01/01/2025'" min-date="bc.issue_date || appCtrl.today" datepicker-options="ai.dateOptions" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default btn-sm" ng-click="ai.open($event,'board_cert_'+$index)"><i class="fa fa-calendar fa-fw"></i></button>
									</span>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group text-right" ng-show="bc.abms && bc.specialty_id">
							<button class="btn btn-danger btn-sm" role="button" type="button" ng-click="ai.deleteABMSCertification(bc.id)" ng-show="bc.id"><i class="fa fa-trash-o"></i>
				 Delete</button>
							<button class="btn btn-primary btn-sm" role="submit"><i class="fa fa-check"></i> Save</button>
						</div>
					</div>
				</form>
				<hr />
			</div>
			<div class="row">
				<div class="col-md-12 form-group">
					<button class="btn btn-success btn-sm" ng-click="ai.addABMSCertification()"><i class="fa fa-plus"></i>
			 Add ABMS Certification</button>
				</div>
			</div>
			
			
			
			
			<!-- Additional Certifications -->

			<h4>Additional Certifications</h4>	

			<div class="row" ng-repeat="dcert in ai.additionalCerts track by $index">
				<form novalidate ng-submit="ai.submitAdditionalCertification(dcert)">
					<div class="col-md-4">
						<select class="form-control input-sm" ng-model="dcert.type_id" ng-options="cert.id as cert.name for cert in ai.additional_certification_types" >
							<option value="">-- None --</option>
						</select>
					</div>
					<div class="col-md-4">
						<div class="input-group">
								<input  placeholder="MM/DD/YYYY" type="text" class="form-control input-sm" datepicker-popup="{{ai.format}}" ng-model="dcert.expiration_date" is-open="ai.opened['cert_expiration_date_'+$index]" max-date="'01/01/2025'"  datepicker-options="ai.dateOptions" ng-required="true" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default btn-sm" ng-click="ai.open($event,'cert_expiration_date_'+$index)"><i class="fa fa-calendar fa-fw"></i></button>
								</span>
							</div>
					</div>
					<div class="col-md-4 form-group text-right">
						<button class="btn btn-danger btn-sm" role="button" type="button" ng-click="ai.deleteCertification(dcert.id)" ng-show="dcert.id"><i class="fa fa-trash-o"></i>
			 Delete Certification</button>
						<button class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Save</button>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-md-12 form-group">
					<button class="btn btn-success btn-sm" ng-click="ai.addCertification()"><i class="fa fa-plus"></i>
			 Add Additional Certification</button>
				</div>
			</div>

		</div>
	</div>
	<hr />

	
		
	<!-- Job Offers -->
	<div class="row">
		<div class="col-md-12">
			<h4>Job Offers</h4>
			<article ng-repeat="(key,obj) in ai.offers" class="row">
				<div class="col-md-6"><h4>{{::obj.job_title}} ({{::obj.status}})</h4></div>
				<div class="col-md-6">
					<a class="btn btn-info" role="button" ng-click="appCtrl.goTo('/offers/{{::obj.id}}')">Edit</a>
					<button class="btn btn-primary" ng-click="ai.acceptOffer(obj.id)">Accept</button>
					<button class="btn btn-danger" ng-click="ai.acceptOffer(obj.id)">Reject</button></div>
				<hr />
			</article>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>New Job Offer</h4>
		</div>
	</div>
	
	<form id="job-offer-form" name="ai.edit_offer_form" ng-submit="ai.submitOffer()" ng-show="ai.newOffer" class="ng-cloak" novalidate>
		<div class="row">
			<div class="col-xs-3 form-group">
				<label>Job</label>
				<select class="form-control input-sm" ng-model="ai.newOffer.job_id" ng-options="job.id as job.job_title for job in ai.jobs"><option value="">-- Choose Job --</option></select>
			</div>
			<div class="col-xs-3 form-group">
				<label>Visible</label>
				<select class="form-control input-sm" ng-model="ai.newOffer.visible"  ng-required="true">
					<option value="1">Visible</option>
					<option value="0">Archived</option>
				</select>
			</div>
		</div>
	
		<div class="row"><div class="col-sm-12"><hr /></div></div>
	
		<div class="row">
			<div class="col-sm-12">
				<h4>Rates</h4>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-3 form-group" ng-repeat="rate in appCtrl.rateTypes">
				<label ng-bind="rate.name"></label>
				<input type="number" class="form-control input-sm" ng-model="ai.newOffer[rate.field]" />
			</div>	
		</div>
		<div class="row"><div class="col-sm-12"><hr /></div></div>
		<button class="btn btn-primary pull-right" role="submit" ng-disabled="new_offer_form.$invalid">Submit Rates</button> 
	</form>
	
</div>