<section id="coordinator-info">

	<h3 id="no-data" ng-show="coord.error && !coord.loading" class="ng-cloak text-center ng-hide">Coordinator #<span ng-bind="coord.coordId"></span> Does Not Exist</h3>

	<div class="text-center row" ng-show="coord.loading">
		<div class="col-md-12 form-group">
		  <i class="fa fa-refresh fa-spin fa-4x"></i>
		</div>
	</div>

	<div ng-hide="coord.loading || coord.error" class="ng-hide">
		<div class="row">
			<div class="col-md-12">
				<h3>Coordinator: <strong><span ng-bind="coord.coordinatorData.first_name"></span> <span ng-bind="coord.coordinatorData.last_name"></span></strong></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-11 col-xs-1 text-right">
				<a ng-click="coord.bookmark(coord.coordinatorData.id)" style="cursor:pointer">
					<i class="fa" ng-class="{ 'fa-bookmark': coord.coordinatorData.bookmarked, 'fa-bookmark-o': !coord.coordinatorData.bookmarked }"></i>
				</a>
			</div>
		</div>
		<hr />
		<form id="coordinator-form" ng-submit="coord.save()" ng-show="coord.coordinatorData" class="ng-cloak">
			<div class="row">
				<div class="form-group col-md-3">
					<label>First Name</label>
					<input type="text" class="form-control" id="first-name" placeholder="First Name" ng-model="coord.coordinatorData.first_name">
				</div>
				<div class="form-group col-md-2">
					<label>Middle</label>
					<input type="text" class="form-control" id="middle-name" placeholder="Middle Name" ng-model="coord.coordinatorData.middle_name">
				</div>
				<div class="col-md-3 form-group">
					<label>Last Name</label>
					<input type="text" class="form-control" id="last-name" placeholder="Last Name" ng-model="coord.coordinatorData.last_name">
				</div>
				<div class="col-md-2 form-group">
					<label>Created</label>
					<div ng-bind="coord.coordinatorData.date_created"></div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label>Business Address 1</label>
					<input type="text" class="form-control" placeholder="Address" ng-model="coord.coordinatorData.home_address">
				</div>
				<div class="form-group col-md-4">
					<label>Business Address 2</label>
					<input type="text" class="form-control" placeholder="Address 2" ng-model="coord.coordinatorData.home_address_2">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label>City</label>
					<input type="text" class="form-control" placeholder="City" ng-model="coord.coordinatorData.home_city">
				</div>
				<div class="col-md-1 form-group">
					<label>State</label>
					<select class="form-control" ng-model="coord.coordinatorData.home_state" ng-options="state.abbreviation as state.abbreviation for state in appCtrl.usStates">
					</select>
				</div>
				<div class="form-group col-md-1">
					<label>Zip</label>
					<input type="text" class="form-control" ui-mask="99999" ng-model="coord.coordinatorData.home_zip">
				</div>
				<div class="form-group col-md-2">
					<label>Role</label>
					<select class="form-control" ng-model="coord.coordinatorData.user_role">
						<option value="C">Coordinator</option>
						<option value="R">Recruiter</option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<label>CAQH Enabled</label>
					<select class="form-control" ng-model="coord.coordinatorData.caqh_enabled" ng-options="o.v as o.n for o in [{ n: 'No', v: 0 }, { n: 'Yes', v: 1 }]">
						<option value=""></option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-4">
					<label>Phone Number</label>
					<input type="text" class="form-control" ui-mask="(999) 999-9999" ng-model="coord.coordinatorData.home_phone">
				</div>
				<div class="form-group col-md-4">
					<label>Email</label>
					<input type="email" class="form-control" ng-model="coord.coordinatorData.email">
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-right">
					<div class="form-group">
						<button type="button" class="btn btn-warning" ng-click="coord.actAs()">Act As This Coordinator</button>
						<button type="button" class="btn btn-danger" ng-really-message="Are you sure?" ng-really-click="coord.delete()">Delete</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- (facility_id, doctor_id, status, email, department, job_title, job_status) -->
	<div id="membership-section" class="ng-hide" ng-hide="coord.loading || coord.error || coord == null">
		<accordion close-others="false">
			<accordion-group is-open="true">
				<accordion-heading>Memberships<span class="badge pull-right" ng-bind="(coord.memberships).length"></span></accordion-heading>
				<article ng-repeat="(key,obj) in coord.memberships" class="row form-group">
					<div class="col-md-1">
						<img ng-src="{{obj.profileUrl || './images/default-avatar.png'}}" onerror="if (this.src != './images/default-avatar.png')
						    this.src = './images/default-avatar.png';" class="img-responsive img-circle" style="width:100%"
							ng-click="coord.goToFacility(obj.facility_id)"/>
					</div>
					<div class="col-md-9">
						<h4 ng-click="coord.goToFacility(obj.facility_id)"><span ng-bind="obj.facility_display"></span> (<span ng-bind="appCtrl.memberStatuses[obj.status].status"></span>)</h4>
						<h5 ng-show="obj.department" ng-bind="'Department: '+obj.department"></h5>
					</div>
					<div class="col-md-2">
						<a class="btn btn-info btn-sm btn-block" ng-click="coord.openMembershipModal(obj)">Edit</a>
						<button class="btn btn-danger btn-sm btn-block" ng-really-message="Are you sure?" ng-really-click="coord.deleteFacilityMembership(obj.id)">Remove</button>
					</div>
					<hr />
				</article>
			</accordion-group>
		</accordion>
		<div class="row">
		<div class="col-xs-12 text-right">
				<button class="btn btn-success" ng-click="coord.openMembershipModal({})">Add Membership</button
			</div>
		</div>
	</div>

</section>
