<!-- used to have ng-controller, but now realize the route handles it -->
<div>
	<script type="text/ng-template" id="create-coordinator-modal"> 
		<form name="new_coord_form" ng-submit="coord.submitForm()" novalidate>
			<div class="modal-header"> 
				<h3 class="modal-title">Create Coordinator</h3> 
			</div> 
			<div class="modal-body">
				<div class="form-group">
					<label>Email</label>
					<input class="form-control" type="text" name="email" ng-model="coord.formData.email" ng-required="true" />
				</div>
				<div class="form-group">
					<label>Password</label>
					<input class="form-control" type="password" ng-minlength="8" name="password" ng-model="coord.formData.password"  ng-required="true" />
					<p ng-show="new_coord_form.password.$error.minlength" class="help-block">Password is too short.</p>
				</div>
				<div class="form-group">
					<label>First Name</label>
					<input class="form-control" type="text" name="first_name" ng-model="coord.formData.first_name"  ng-required="true" />
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input class="form-control" type="text" name="last_name" ng-model="coord.formData.last_name"  ng-required="true" />
				</div>
				<div class="form-group">
					<label>Facility</label>
					<input type="text" class="form-control" typeahead-min-length="4" typeahead-loading="loadingLocations" ng-model="modal.modalObject.facility_name" ng-required="true" typeahead="fac.facility_name as fac.facility_name for fac in modal.parentCtrl.queryFacilities($viewValue)" typeahead-on-select="coord.formData.facility_id = $item.id" typeahead-editable="false" />
					<i ng-show="loadingLocations" class="fa fa-2x fa-refresh"></i>
				</div>
			</div>
			<div class="modal-footer"> 
				<button class="btn btn-primary" role="submit" ng-disabled="new_coord_form.$invalid">OK</button> 
				<button class="btn btn-warning" role="button" type="button" ng-click="coord.closeModal()">Cancel</button> 
			</div>
		</form>
	</script>
	<section class="row">
		<div class="col-md-6">
			<h4>Coordinators</h4>
		</div>
	</section>
	
	
	
	<section id="doctor-search-filters">
		<form ng-submit="coord.getResults()">
			<div class="row">
				<div class="col-md-4 col-sm-12 form-group">
					<input type="search" class="form-control" ng-model="coord.searchQuery" value="" />
				</div>
				<div class="col-md-2 form-group">
					<button role="submit" class="btn btn-success btn-block" type="submit">Search</button>
				</div>
				<div class="col-md-3 form-group">
					<button class="btn btn-primary btn-block" role="button" type="button" ng-click="coord.open()">Create Coordinator</button>
				</div>
			</div>
		</form>
	</section>
	
	<div class="text-center row" ng-show="coord.loading">
		<div class="col-md-12 form-group">
		  <i class="fa fa-refresh fa-spin fa-4x"></i>
		</div>
	</div>
	
	<div class="text-center row ng-hide" ng-hide="coord.totalCoordinators > 0 || coord.loading">
		<div class="col-md-12 form-group">
		  <h4>No Coordinators meet your search.</h4>
		</div>
	</div>
	
	<section id="search-results" ng-hide="coord.loading || coord.totalCoordinators == 0" class="ng-hide">
		<div class="row">
			<div class="col-sm-12">
				<pagination total-items="coord.totalCoordinators" ng-model="coord.currentPage" max-size="coord.maxSize" class="pagination-sm" boundary-links="true" ng-change="coord.getResults()" items-per-page="25"></pagination>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<caption class="ng-cloak"><strong ng-bind="coord.totalCoordinators"></strong> Coordinators Found</caption>
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th ng-click="coord.sortResult('id')">id</th>
								<th ng-click="coord.sortResult('first_name')">First</th>
								<th ng-click="coord.sortResult('last_name')">Last</th>
								<th ng-click="coord.sortResult('email')">Email</th>
								
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="doc in coord.coordinators" class="doctor-row search-row" data-doctor-id="{{::doc.id}}" ng-click="appCtrl.goTo('/coordinator/{{::doc.id}}')">
								<td ng-bind="doc.id"></td>
								<td ng-bind="doc.first_name"></td>
								<td ng-bind="doc.last_name"></td>
								<td ng-bind="doc.email"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12">
				<pagination total-items="coord.totalCoordinators" ng-model="coord.currentPage" max-size="coord.maxSize" class="pagination-sm" boundary-links="true" ng-change="coord.getResults()" items-per-page="25"></pagination>
			</div>
		</div>
	</section>
	
</div>