<div class="row">
	<section class="col-md-12">
		<h3 class="page-header">Dashboard</h3>
		<div class="text-center row ng-hide" ng-hide="!dash.loading" style="margin:30px 0">
			<div class="col-md-2 col-md-offset-5 form-group" >
			  <object type="image/svg+xml" data="images/modio-blink-color.svg" class="logo"> Loading...</object>
			</div>
		</div>
		<article ng-hide="dash.loading" class="ng-hide">
			<h4><span ng-bind="dash.twoWayMatches.length"></span> Matches <i ng-click="dash.get2Way()" class="fa fa-refresh"></i></h4>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>id</th>
							<th>Facility</th>
							<th>Job Types</th>
							<th>Provider Name</th>
							<th>Licensed?</th>
							<th>Specialty</th>
							<th>Score</th>
							<th>Account Manager</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="match in dash.twoWayMatches" ng-mouseover="dash.setTooltip(match)" popover-template="dash.dynamicPopover.templateUrl" popover-title="Sales Notes" popover-trigger="mouseenter">
							<td ng-bind="match.job_id"></td>
							<td ng-click="appCtrl.goTo('/jobs/{{::match.job_id}}')" ng-bind="match.facility_name"></td>
							<td><span ng-bind="match.JOB_TYPE"></span> | <span ng-bind="match.dr_job_type"></span></td>
							<td ng-click="appCtrl.goTo('/providers/{{::match.doctor_id}}')"><span ng-bind="match.first_name"></span> <span ng-bind="match.last_name"></span> (<span ng-bind="match.dr_job_type"></span>)</td>
							<td>{{ match.Licensed == 0 ? 'No' : 'Yes' }}</td>
							<td><span ng-bind="match.job_specialty"></span>  in <span ng-bind="match.doctor_desired_state"></span></td>
							<td ng-bind="match.score"></td>
							<td ng-bind="match.account_manager"></td>
						</tr>
					</tbody>
				</table>
			</div>	
		</article>
	</section>
	<script type="text/ng-template" id="notes-template.html">
	<div class="form-group" ng-show="dash.tooltipSales">
		<label>Provider Notes</label>
		<div ng-bind="dash.tooltipSales"></div>
	</div>
	<div class="form-group" ng-show="dash.tooltipJob">
		<label>Job Notes</label>
		<div ng-bind="dash.tooltipJob"></div>
	</div>
	<div class="form-group" ng-show="!dash.tooltipSales && !dash.tooltipJob">
		<div>No notes.</div>
	</div>
</script>