<h3>Dashboard</h3>
<div class="text-center row" ng-show="dash.loading">
	<div class="col-md-12 form-group">
	  <i class="fa fa-refresh fa-spin fa-4x"></i>
	</div>
</div>
<!--
	{
    "job_id": 1,
    "facility_name": "Sentara Virginia Beach General Hospital (Virginia Beach- VA)",
    "job_title": "General surgeon needed",
    "job_specialty": "Surgery: General",
    "JOB_TYPE": "Locum",
    "doctor_id": 5978,
    "first_name": "Angelita",
    "last_name": "Wolf",
    "dr_job_type": "Locum",
    "doctor_desired_state": "VA",
    "Licensed": 0
  },
-->
<div ng-show="!dash.loading">
	<div class="row">
		<section class="col-md-8">
			<h4>Matches</h4>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>id</th>
							<th>Facility</th>
							<th>Provider Name</th>
							<th>Licensed?</th>
							<th>Specialty</th>
							<th>Score</th>
							<th>Account Manager</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="match in dash.twoWayMatches">
							<td>{{match.job_id}}</td>
							<td ng-click="appCtrl.goTo('/jobs/{{match.job_id}}')" class="col-xs-4">{{match.facility_name}} {{JOB_TYPE}}</td>
							<td ng-click="appCtrl.goTo('/providers/{{match.doctor_id}}')" class="col-xs-3">{{match.first_name}} {{match.last_name}} ({{match.dr_job_type}})</td>
							<td class="col-xs-2">{{ match.Licensed == 0 ? 'No' : 'Yes' }}</td>
							<td class="col-xs-3">{{match.job_specialty}}  in {{match.doctor_desired_state}}</td>
							<td>{{match.score}}</td>
							<td>{{match.account_manager}}</td>
						</tr>
					</tbody>
				</table>
			</div>	
		</section>
		<section class="col-md-4">
			<h4>Stats</h4>
			<div class="form-group">
				<label>Total Matches</label>
				<div>{{ dash.twoWayMatches.length}}</div>
			</div>
			<div class="form-group">
				<label>Specialties (last day)</label>
				<div ng-repeat="s in dash.stats.specialtyData">{{s.specialty}} ({{s.count}})</div>
			</div>
			<div class="form-group">
				<label>New Providers</label>
				<div>{{dash.stats.providerDailyTotal}}</div>
			</div>
			<div class="form-group">
				<label>Total Registered</label>
				<div>{{dash.stats.providerRegisteredTotal}}</div>
			</div>
			<div class="form-group">
				<label>Total Providers</label>
				<div>{{dash.stats.providerTotal}}</div>
			</div>
			<div class="form-group">
				<label>Offers to Date</label>
				<div>{{dash.stats.offersToDate}}</div>
			</div>
			
		</section>
	</div>
	
	<!--<section class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<caption class="ng-cloak"><strong>{{dash.twoWayMatches.length}}</strong> Matches Found</caption>
				
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th ng-click="dash.sortResult('id')">id</th>
							<th ng-click="dash.sortResult('last_name')">Name</th>
							<th ng-click="dash.sortResult('title')">Title</th>
							<th ng-click="dash.sortResult('specialty')">Specialty</th>
							<th>States</th>
							<th>Job Type</th>
							<th ng-click="dash.sortResult('score')">Score</th>
							<th>Acct. Mgr</th>
							<th ng-click="dash.sortResult('disposition')">Disposition</th>
							<th>Source</th>
							<th>User</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="lead in dash.leads" class="doctor-row search-row" data-lead-id="{{lead.id}}" ng-click="appCtrl.goTo('/lead/{{lead.id}}')">
							<td>{{ lead.id }}</td>
							<td>{{ lead.first_name }} {{ lead.last_name }}</td>
							<td>{{ lead.doctor_title }}</td>
							<td>{{ lead.specialty_description }} ({{ lead.specialty }})</td>
							<td>{{ lead.states}}</td>
							<td>{{ lead.job_type_desired}}</td>
							<td>{{ lead.score}}</td>
							<td>{{ lead.account_manager}}</td>
							<td>{{ appCtrl.dispositionMap[lead.disposition]}}</td>
							<td>{{ appCtrl.sourceMap[lead.source]}}</td>
							<td ng-show="lead.doctor_id">
				            <button ng-click="appCtrl.goTo('/providers/{{lead.doctor_id}}')">View</button>
							</td>
							<td ng-hide="lead.doctor_id">
				            N/A
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>-->
</div>