<h4>Leads</h4>


<div class="panel panel-default">
	<div class="panel-heading">Leads from Unbounce</div>
	<div class="panel-body">
		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th ng-click="dash.sortResult('id')">id</th>
					<th ng-click="dash.sortResult('last_name')">Name</th>
          <th ng-click="dash.sortResult('title')">Title</th>
					<th ng-click="dash.sortResult('specialty')">Specialty</th>
					<th ng-click="dash.sortResult('email')">Email</th>
					<th>States</th>
					<th>Job Type</th>
					<!--<th>Verified?</th>-->
          <th>Score</th>
          <th>Acct. Mgr</th>
          <th>Disposition</th>
          <th>Source</th>
          <th>User</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="lead in dash.leads" class="doctor-row search-row" data-lead-id="{{lead.id}}" ng-click="appCtrl.goTo('/lead/{{lead.id}}')">
					<td>{{ lead.id }}</td>
					<td>{{ lead.first_name }} {{ lead.last_name }}</td>
          <td>{{lead.doctor_title}}</td>
					<td>{{ lead.specialty_description }} ({{ lead.specialty }})</td>
					<td>{{ lead.email }}</td>
					<td>{{ lead.states}}</td>
					<td>{{ lead.job_type_desired}}</td>
          <td>{{ lead.score}}</td>
          <td>{{ lead.account_manager}}</td>
          <td>{{ appCtrl.dispositionMap[lead.disposition]}}</td>
          <td>{{ appCtrl.sourceMap[lead.source]}}</td>
          <td ng-show="lead.doctor_id">
            <button ng-click="appCtrl.goTo('/doctor/{{lead.doctor_id}}')">View</button>
          </td>
          <td ng-hide="lead.doctor_id">
            N/A
          </td>

          <!--<strong ng-if="lead.verified == 1">-->
						<!--Verified-->
					<!--</strong>-->
				</tr>
			</tbody>
		</table>
	</div>
</div>
