<script type="text/ng-template" id="create-doctor-modal2"> 
	<form name="new_doctor_form" ng-submit="drsCtrl.submitForm()" novalidate>
		<div class="modal-header"> 
			<h3 class="modal-title">Create Doctor</h3> 
		</div> 
		<div class="modal-body">
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" type="text" name="email" ng-model="drsCtrl.formData.email" ng-required="true" />
			</div>
			<div class="form-group">
				<label>First Name</label>
				<input class="form-control" type="text" name="first_name" ng-model="drsCtrl.formData.first_name"  ng-required="true" />
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input class="form-control" type="text" name="last_name" ng-model="drsCtrl.formData.last_name"  ng-required="true" />
			</div>
			<div class="form-group">
				<label>Job Type</label>
				<select name="job_type" class="form-control" ng-model="drsCtrl.formData.job_type_desired"  ng-required="true">
					<option value="0">Neither</option>
					<option value="1">Locum</option>
					<option value="2">Permanent</option>
					<option value="3">Either</option>
				</select>
			</div>
			<div class="form-group">
				<label>Locum Experience</label>
				<select name="locum_experience" class="form-control" ng-model="drsCtrl.formData.locum_experience"  ng-required="true">
					<option value="0">None</option>
					<option value="1">Low</option>
					<option value="2">High</option>
				</select>
			</div>
		</div> 
		<div class="modal-footer"> 
			<button class="btn btn-primary" role="submit" ng-disabled="new_doctor_form.$invalid">OK</button> 
			<button class="btn btn-warning" role="button" type="button" ng-click="drsCtrl.closeModal()">Cancel</button> 
		</div>
	</form>
</script>

<section class="row">
	<div class="col-md-6">
		<h4>Providers</h4>
	</div>
	<div class="col-md-3 col-md-offset-3 pull-right">
		<button class="btn btn-primary btn-block" role="button" type="button" ng-click="drsCtrl.open()">Create Provider</button>
	</div>
</section>





<section id="doctor-search-filters">
	<form ng-submit="drsCtrl.getResults()">
		<div class="row">
			<div class="col-md-5 col-sm-6  form-group">
				<input type="search" class="form-control" ng-model="drsCtrl.queryData.q" value="" placeholder="Search Providers... " />
			</div>
			<div class="col-md-3 form-group">
				<select class="form-control" ng-model="drsCtrl.queryData.match_only" ng-change="drsCtrl.getResults()">
					<option value="">--Match Only--</option>
					<option value="false">False</option>
					<option value="true">True</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 form-group">
				<select class="form-control" ng-model="drsCtrl.queryData.specialty_id" ng-change="drsCtrl.getResults()" ng-options="s.id as s.specialty for s in appCtrl.specialties">
					<option value="">-- Specialty--</option>
				</select>
			</div>
			<div class="col-md-2 col-sm-6 form-group">
				<select class="form-control" ng-model="drsCtrl.queryData.state" ng-change="drsCtrl.getResults()" ng-options="st.abbreviation as st.abbreviation for st in appCtrl.usStates">
					<option value="">-- Select State --</option>
				</select>
			</div>
			<div class="col-md-3 form-group">
				<select class="form-control" ng-model="drsCtrl.queryData.disposition" ng-change="drsCtrl.getResults()" ng-options="disp.id as disp.name for disp in appCtrl.disposition">
					<option value="">-- Select Disposition --</option>
				</select>
			</div>
			<div class="col-md-3 form-group">
				<select class="form-control" ng-model="drsCtrl.queryData.doctor_title" ng-change="drsCtrl.getResults()" ng-options="title as title for title in appCtrl.doctorTitles">
					<option value="">-- Select Title --</option>
				</select>
			</div>
		</div>
		<div class="row ng-hide" ng-hide="drsCtrl.loading">
			<!--<div class="col-md-2 col-sm-6 col-xs-6 form-group">
				<input type="number" ng-model="drsCtrl.score_low" class="form-control" min="0" max="100" placeholder="Score Low" />
			</div>
			<div class="col-md-2 col-sm-6 col-xs-6 form-group">
				<input type="number" ng-model="drsCtrl.score_high" class="form-control" min="0" max="100" placeholder="Score High" />
			</div>-->
			<div class="col-md-4 form-group">
				<label>Score</label>
				<div data-show-values="true" step="1" range-slider min="0" max="100" model-min="drsCtrl.queryData.score_low" model-max="drsCtrl.queryData.score_high" on-handle-up="drsCtrl.getResults()"></div>    
			</div>
			
			<div class="col-md-2 form-group">
				<label>&nbsp;</label>
				<button role="submit" class="btn btn-success btn-block" type="submit">Search</button>
			</div>
			<div class="col-md-2 form-group">
				<label>&nbsp;</label>
				<a class="btn btn-info btn-block" href="{{drsCtrl.csvEndpoint}}">Download CSV</a>
			</div>
		</div>
	</form>
</section>


<div class="text-center row" ng-show="drsCtrl.loading" style="margin:30px 0">
	<div class="col-md-2 col-md-offset-5 form-group" >
	  <object type="image/svg+xml" data="images/modio-blink-color.svg" class="logo"> Loading...</object>
	</div>
</div>

<div class="text-center row ng-hide" ng-hide="drsCtrl.totalDoctors > 0 || drsCtrl.loading">
	<div class="col-md-12 form-group">
	  <h4>No Doctors meet your search.</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
		  <li role="presentation" ng-class="{ 'active': drsCtrl.queryData.job_type_desired > 0 }"><a ng-click="drsCtrl.changeDoctorType(1)">Seeking Job</a></li>
		  <li role="presentation" ng-class="{ 'active': drsCtrl.queryData.job_type_desired == 0 }"><a ng-click="drsCtrl.changeDoctorType(0)">Credentialing Only</a></li>
		  <li role="presentation" ng-class="{ 'active': drsCtrl.queryData.job_type_desired == null }"><a  ng-click="drsCtrl.changeDoctorType()">All</a></li>
		</ul>
	</div>
</div>
<section id="results-section" ng-hide="drsCtrl.loading || drsCtrl.totalDoctors == 0" class="ng-hide">
	
	<div class="row">
		<div class="col-sm-9">
			<pagination total-items="drsCtrl.totalDoctors" ng-model="drsCtrl.queryData.p" max-size="drsCtrl.maxSize" class="pagination-sm" boundary-links="true" ng-change="drsCtrl.getResults()" items-per-page="drsCtrl.doctors.length"></pagination>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<caption class="ng-cloak"><strong>{{drsCtrl.totalDoctors}}</strong> Doctors Found</caption>
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th ng-click="drsCtrl.sortResult('id')">id</th>
							<th ng-click="drsCtrl.sortResult('last_name')">Name</th>
							<th ng-click="drsCtrl.sortResult('specialty')">Specialty</th>
							<th ng-click="drsCtrl.sortResult('source')">Source</th>
							<th ng-click="drsCtrl.sortResult('disposition')">Disposition</th>
							<th>Registered</th>
							<th>States</th>
							<th ng-click="drsCtrl.sortResult('score')">Score</th>
							<th>Matches</th>
							<th>jtd</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="doc in drsCtrl.doctors" class="doctor-row search-row" data-doctor-id="{{doc.id}}">
							<td ng-click="appCtrl.goTo('/providers/{{doc.id}}')">{{ doc.id }}</td>
							<td ng-click="appCtrl.goTo('/providers/{{doc.id}}')">{{ doc.first_name}} {{ doc.last_name }} {{ doc.doctor_title }}</td>
							<td ng-click="appCtrl.goTo('/providers/{{doc.id}}')">{{ appCtrl.specialtiesMap[doc.specialty_id]}}</td>
							<td ng-click="appCtrl.goTo('/providers/{{doc.id}}')">{{ appCtrl.source[doc.source].name}}</td>
							<td ng-click="appCtrl.goTo('/providers/{{doc.id}}')">{{ appCtrl.dispositionMap[doc.disposition]}}</td>
							<td ng-click="appCtrl.goTo('/providers/{{doc.id}}')">{{ doc.user_id ? 'Yes' : 'No' }}</td>
							<td ng-click="appCtrl.goTo('/providers/{{doc.id}}')">{{ doc.medical_licenses}}</td>
							<td ng-click="appCtrl.goTo('/providers/{{doc.id}}')">{{ doc.score}}</td>
							<td><button ng-click="appCtrl.goTo('/providers/{{doc.id}}/job-matches')" ng-show="(drsCtrl.matchList | filter: {doctor_id: doc.id})[0].matches > 0">{{ (drsCtrl.matchList | filter: {doctor_id: doc.id})[0].matches }} Matches</button></td>
							<td>{{ doc.job_type_desired}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<pagination total-items="drsCtrl.totalDoctors" ng-model="drsCtrl.queryData.p" max-size="drsCtrl.maxSize" class="pagination-sm" boundary-links="true" ng-change="drsCtrl.getResults()" items-per-page="drsCtrl.doctors.length"></pagination>
		</div>
	</div>
  
</section>