<section id="general-info">
	
	<div id="no-data" ng-show="dr.error" class="ng-cloak">Doctor Not Found</div>
	
		<div class="row">
			<div class="col-md-12">
				<tabset>
				<tab heading="General Info">
					<ng-include src="'../partials/general-info-tab.html'"></ng-include>
				</tab>
					
				<tab heading="Account Info">
					
					<div class="row">
						<div class="form-group col-md-4">
							<label for="email">Email Address - no changing for now?</label>
							<input type="email" class="form-control" id="email" ng-model="dr.doctorData.email" readonly>
						</div>
						<div class="form-group col-md-4">
							<label for="password">Password - Important, write method + system, for now just straight up change it.</label>
							<div><button class="btn btn-primary" id="change-password">Change Password</button></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label>States Subscribed</label>	
							<div>Just A million checkboxes for now</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label>Specialties</label>
							<div>Add Specialty</div>
							<div>Remove/Change Specialty</div>
							<div>Could just be 3 selects with a blank option</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label>Rates? - include in general info, store on per doctor basis for now</label>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label>Applications?</label>
							<div>New Application - choose from job list</div>
						</div>
					</div>
						
				</tab>
				
				<tab heading="Education and Work" bs-pane>
					<ng-include src="'../partials/education-and-work.html'"></ng-include>
				</tab>
				<tab heading="Credentialing" bs-pane>
					<ng-include src="'../partials/qualifications.html'"></ng-include>
				</tab>
			</tabset>
		</div>
	</div>
	
</section>