<!-- used to have ng-controller, but now realize the route handles it -->
<div>
	<script type="text/ng-template" id="create-doctor-modal2"> 
		<form name="edit-facility-form" ng-submit="fac.submitForm()" novalidate>
			<div class="modal-header"> 
				<h3 class="modal-title">Edit {{fac.facilityData.facility_name}}</h3> 
			</div> 
			<div class="modal-body">
				<div class="form-group">
					<label>Facility Name</label>
					<input class="form-control" type="text" name="email" ng-model="{fac.facilityData.facility_name" ng-required="true" />
				</div>
			</div>
			<div class="modal-footer"> 
				<button class="btn btn-primary" role="submit" ng-disabled="edit-facility-form.$invalid">OK</button> 
				<button class="btn btn-warning" role="button" type="button" ng-click="fac.closeModal()">Cancel</button> 
			</div>
		</form>
	</script>
	<h4>Facilities</h4>
	<section id="doctor-search-filters">
		<div class="row">
			<div class="col-sm-4">
				<form ng-submit="fac.getResults()">
					<input type="search" class="form-control" ng-model="fac.searchQuery" value="" />
				</form>
			</div>
			<div class="col-md-3">
				<select class="form-control" ng-model="fac.is_medical_school" ng-change="fac.getResults()">
					<option value="">All</option>
					<option value="1">Medical School</option>
					<option value="0">Non-Medical School</option>
				</select>
			</div>
			<div class="col-md-3 form group">
				<button role="submit" class="btn btn-success btn-block" type="submit">Search</button>
			</div>
		</div>
	</section>
	<div slider ng-model="test.single" start=1 end=10></div>
	<section class="row">
		<div class="col-sm-12">
			<pagination total-items="fac.totalFacilities" ng-model="fac.currentPage" max-size="fac.maxSize" class="pagination-sm" boundary-links="true" ng-change="fac.getResults()" items-per-page="25"></pagination>
		</div>
	</section>
	<section class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<caption class="ng-cloak"><strong>{{fac.totalFacilities}}</strong> Facilities Found</caption>
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th ng-click="fac.sortResult('id')">id</th>
							<th ng-click="fac.sortResult('facility_name')">Facility</th>
							<th ng-click="fac.sortResult('address')">address</th>
							<th ng-click="fac.sortResult('city')">City</th>
							<th ng-click="fac.sortResult('state')">State</th>
							<th ng-click="fac.sortResult('zip')">Zip</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="f in fac.facilities" class="facility-row search-row" data-facility-id="{{f.id}}" ng-click="appCtrl.goTo('/facility/{{f.id}}')">
							<td>{{ f.id }}</td>
							<td>{{ f.facility_name }}</td>
							<td>{{ f.address }}</td>
							<td>{{ f.city }}</td>
							<td>{{ f.state }}</td>
							<td>{{ f.zip }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	<section class="row">
		<div class="col-sm-12">
			<pagination total-items="fac.totalFacilities" ng-model="fac.currentPage" max-size="fac.maxSize" class="pagination-sm" boundary-links="true" ng-change="fac.getResults()" items-per-page="25"></pagination>
		</div>
	</section>
	
</div>