<!-- used to have ng-controller, but now realize the route handles it -->
<div>
	<h4>Facilities</h4>
	
	<section id="doctor-search-filters">
		<div class="row">
			<div class="col-md-4 col-sm-8 form-group">
				<form ng-submit="fac.getResults()">
					<input type="search" class="form-control input-sm" typeahead-min-length="4" typeahead-loading="loadingpha" ng-model="fac.queryData.q" typeahead="fac.facility_name as fac.facility_name for fac in appCtrl.queryFacilities($viewValue)"  placeholder="Search Facilities..." />
					<i ng-show="loadingpha" class="fa fa-spinner fa-pulse typeahead-loader"></i>
				</form>
			</div>
			<div class="col-md-3 col-sm-4 form-group">
				<select class="form-control input-sm" ng-model="fac.is_medical_school" ng-change="fac.getResults()">
					<option value="">All</option>
					<option value="1">Medical School</option>
					<option value="0">Non-Medical School</option>
				</select>
			</div>
			<div class="col-md-3 col-sm-12 form-group">
				<button role="button" class="btn btn-success btn-block btn-sm" type="button" ng-click="fac.getResults()">Search</button>
			</div>
		</div>
	</section>
	<div class="text-center row" ng-show="fac.loading">
		<div class="col-md-12 form-group">
		  <i class="fa fa-spinner fa-pulse fa-4x"></i>
		</div>
	</div>
	<div ng-show="!fac.loading">
		<section class="row">
			<div class="col-sm-12">
				<pagination total-items="fac.totalFacilities" ng-model="fac.queryData.page" max-size="fac.maxSize" class="pagination-sm" boundary-links="true" ng-change="fac.getResults()" items-per-page="25" data-ng-if="fac.totalFacilities"></pagination>
			</div>
		</section>
		<section class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<caption class="ng-cloak"><strong ng-bind="fac.totalFacilities"></strong> Facilities Found</caption>
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th ng-click="fac.sortResult('id')">id</th>
								<th ng-click="fac.sortResult('facility_name')">Facility</th>
								<th ng-click="fac.sortResult('address')">address</th>
								<th ng-click="fac.sortResult('city')">City</th>
								<th ng-click="fac.sortResult('state')">State</th>
								<th ng-click="fac.sortResult('zip')">Zip</th>
								
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="f in fac.facilities" class="facility-row search-row" data-facility-id="{{f.id}}" ng-click="appCtrl.goTo('/facility/{{f.id}}')">
								<td ng-bind="f.id"></td>
								<td><span ng-bind="f.facility_name"></span></td>
								<td ng-bind="f.address"></td>
								<td ng-bind="f.city"></td>
								<td ng-bind="f.state"></td>
								<td ng-bind="f.zip"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		
		<section class="row">
			<div class="col-sm-12">
				<pagination total-items="fac.totalFacilities" ng-model="fac.queryData.page" max-size="fac.maxSize" class="pagination-sm" boundary-links="true" ng-change="fac.getResults()" items-per-page="25" data-ng-if="fac.totalFacilities"></pagination>
			</div>
		</section>
	</div>		
</div>