<section>
	
	<div id="no-data" ng-show="fac.error" class="ng-cloak">Facility Not Found</div>
	<h4 ng-bind="fac.facilityData.facility_name"></h4>
	<form id="edit-facility-form" name="edit_facility_form" ng-show="fac.facilityData" class="ng-cloak" novalidate>
		<div class="row">
			<div class="col-xs-6 form-group">
				<label>Facility Name</label>
				<input class="form-control" type="text" ng-model="fac.facilityData.facility_name" ng-required="true" />
			</div>
			<div class="col-xs-3 form-group">
				<label>Is Medical School?</label>
				<select class="form-control" type="text" ng-model="fac.facilityData.is_medical_school">
					<option value="0">No</option>
					<option value="1">Yes</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 form-group">
				<label>Address</label>
				<input class="form-control" type="text" ng-model="fac.facilityData.address" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 form-group">
				<label>City</label>
				<input class="form-control" type="text" ng-model="fac.facilityData.city"  />
			</div>
			<div class="col-xs-3 form-group">
				<label>State</label>
				<select class="form-control" ng-model="fac.facilityData.state"  ng-required="true" ng-options="state.abbreviation as state.abbreviation for state in appCtrl.usStates"></select>
			</div>
			<div class="col-xs-3">
				<label>Zip</label>
				<input class="form-control" type="text" ng-model="fac.facilityData.zip" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 form-group">
				<label>Phone</label>
				<input class="form-control" type="text" ui-mask="(999) 999-9999" ng-model="fac.facilityData.tel" />
			</div>
			<div class="col-xs-3 form-group">
				<label>Fax</label>
				<input class="form-control" type="text" ui-mask="(999) 999-9999" ng-model="fac.facilityData.fax" />
			</div>
		</div>

		<div class="modal-footer"> 
			<button class="btn btn-primary" role="submit" ng-disabled="edit_facility_form.$invalid" ng-really-message="Are you sure you want to change this facility information?" ng-really-click="fac.save()">Submit</button> 
		</div>
	</form>
</section>