<h3>Invoices</h3>

<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<caption class="ng-cloak"><strong>{{invoice.invoices.length}}</strong> Invoices Found</caption>
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Report Id</th>
						<th>Provider</th>
						<th>Total Amount</th>
						<th>Date Updated</th>
						<th>Description</th>
						<th>Facility Name</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in invoice.invoices">
						<td>{{i.report_id}}</td>
						<td ng-click ng-really-message="Are you sure you want to act as this doctor" ng-really-click="invoice.actAs(i.doctor_id)">{{i.doctor_name}}</td>
						<td>${{i.total_amount}}</td>
						<td>{{i.date_updated}}</td>
						<td class="col-md-3 col-sm-2">{{i.description}}</td>
						<td>{{i.facility_name}}</td>
						<td><select ng-change="invoice.updateInvoice(i)" ng-model="i.status" class="form-control" ng-options="item.id as item.name for item in invoice.statusList"></select></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>