<section>
	<div class="row">
		<div id="no-data" ng-show="jobCtrl.error" class="ng-cloak col-xs-12">Job Not Found</div>
	</div>
	
	<div class="row ng-hide" ng-hide="jobCtrl.error && !jobCtrl.loading">
		<div class="col-xs-11">
			<ul class="nav nav-pills">
			   <li role="presentation" class="active"><a href="#">General Info</a></li>
			   <li role="presentation"><a ng-click="appCtrl.goTo('/jobs/' + jobCtrl.jobData.id + '/files')">Files</a></li>
			   <li role="presentation"><a ng-click="appCtrl.goTo('/jobs/' + jobCtrl.jobData.id + '/candidates')">Candidates</a></li>
			</ul>
		</div>
		<div class="col-xs-1 text-right">
			 <a ng-click="jobCtrl.bookmark(jobCtrl.jobData.id)" style="cursor:pointer"><i class="fa" ng-class="{ 'fa-bookmark': jobCtrl.bookmarked, 'fa-bookmark-o': !jobCtrl.bookmarked }"></i></a>
		</div>
	</div>
	<hr />
	
	<div class="text-center row" ng-show="jobCtrl.loading">
		<div class="col-md-12 form-group">
		  <i class="fa fa-refresh fa-spin fa-4x"></i>
		</div>
	</div>
	
	
	<form id="job-form" name="edit_job_form" ng-submit="jobCtrl.save()" ng-hide="jobCtrl.loading" class="ng-hide" novalidate>
		<h4>{{jobCtrl.jobData.job_title}} @ {{jobCtrl.jobData.facility_name}} ({{jobCtrl.jobData.id}})</h4>
		<div class="row">
			<div class="col-md-2 form-group">
				<label>Job Type</label>
				<select name="job_type" class="form-control input-sm" ng-model="jobCtrl.jobData.job_type"  ng-required="true">
					<option value="1">Locum</option>
					<option value="2">Permanent</option>
					<option value="3">Both</option>
				</select>
			</div>
			<div class="col-md-3 form-group">
				<label>Specialty</label>
				<input type="search" class="form-control input-sm" typeahead-min-length="4" typeahead-loading="loadingspec" ng-model="jobCtrl.jobData.specialty"  typeahead="spec.specialty as spec.specialty for spec in appCtrl.querySpecialties($viewValue)" placeholder="Search Specialty..." typeahead-on-select="jobCtrl.jobData.specialty_id = $item.id" typeahead-editable="false" />
				<i ng-show="loadingspec" class="fa fa-spinner fa-pulse typeahead-loader"></i>
			</div>
			<div class="col-md-2 form-group">
				<label>Job Status</label>
				<select class="form-control input-sm" ng-model="jobCtrl.jobData.status"  ng-required="true" ng-options="js.id as js.job_status for js in appCtrl.jobStatuses"></select>
			</div>
			<div class="col-md-2 form-group">
				<label>Title</label>
				<select class="form-control input-sm" ng-model="jobCtrl.jobData.doctor_title"  ng-required="false" ng-options="title.title as title.title group by title.group for title in appCtrl.doctorTitles"></select>
			</div>
			<div class="col-md-2 form-group">
	        <label>Archived</label>
	        <select ng-model="jobCtrl.jobData.archived" class="form-control input-sm">
	          <option value="0">No</option>
	          <option value="1">Soft Delete</option>
	        </select>
	      </div>
		</div>
		<div class="row">
			<div class="form-group col-md-7">
				<label>Facility</label>
				<input type="text" class="form-control input-sm" typeahead-min-length="4" typeahead-loading="loadingLocations" ng-model="jobCtrl.jobData.facility_name" ng-required="true" typeahead="fac.facility_name as fac.facility_name for fac in appCtrl.queryFacilities($viewValue)" typeahead-on-select="jobCtrl.jobData.facility_id = $item.id" typeahead-editable="false" />
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
			</div>
			<div class="col-md-2 form-group">
				<label>Source</label>
				<select class="form-control input-sm" ng-model="jobCtrl.jobData.source"  ng-options="sr.id as sr.source for sr in appCtrl.jobSources"></select>
			</div>
			<div class="col-md-2 form-group">
	        <label>Job Rank</label>
	        <select ng-model="jobCtrl.jobData.job_rank" class="form-control input-sm">
	          <option value="3">Low</option>
	          <option value="2">Medium</option>
	          <option value="1">High</option>
	        </select>
	      </div>
		</div>
		<div class="row">
			<div class="form-group col-md-7">
				<label>Job Title</label>
				<input class="form-control input-sm" type="text" name="job_title" ng-model="jobCtrl.jobData.job_title"  ng-required="true" />
			</div>
			<div class="col-md-4 form-group">
				<label>Account Manager</label>
				<select ng-model="jobCtrl.jobData.account_manager" class="form-control input-sm">
					<option value="">Unassigned</option>
					<option value="Tom Clifford">Tom Clifford </option>
					<option value="Gary Goldman">Gary Goldman </option>
					<option value="James Oleksa">James Oleksa </option>
					<option value="John Bou">John Bou </option>
					<option value="Kirk Heath">Kirk Heath </option>
					<option value="Tom Saulnier">Tom Saulnier </option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 form-group">
		      <label>Tags (Separate with commas)</label>
		      <tags-input ng-model="jobCtrl.jobData.tags" add-on-comma="true">
		      	<auto-complete source="appCtrl.queryTags($query)"></auto-complete>
		      </tags-input>
	      </div>
		</div>
		<div class="row">
			<div class="form-group col-md-10">
				<label>Job Description</label>
				<textarea class="form-control input-sm" name="job_title" ng-model="jobCtrl.jobData.description" rows="20"  ng-required="true"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Start Date</label>
				<p class="input-group date-picker-group" ng-show="jobCtrl.jobData.start_date || jobCtrl.opened['start']">
					<input type="text" class="form-control input-sm" datepicker-popup="{{jobCtrl.format}}" ng-model="jobCtrl.jobData.start_date" is-open="jobCtrl.opened['start']" min-date="jobCtrl.minDate" datepicker-options="jobCtrl.dateOptions" close-text="Close" clear-text="ASAP"  placeholder="MM/DD/YYYY" max-date="jobCtrl.jobData.end_date || null" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="jobCtrl.open($event,'start')"><i class="fa fa-calendar fa-fw"></i></button>
					</span>
				</p>
				<button class="btn btn-success btn-block btn-sm" ng-show="!jobCtrl.jobData.start_date && !jobCtrl.opened['start']" ng-click="jobCtrl.open($event,'start')">ASAP</button>

			</div>

			<div class="col-md-3">
				<label>End Date</label>
				<p class="input-group date-picker-group" ng-show="jobCtrl.jobData.end_date || jobCtrl.opened['end']">
					<input type="text" class="form-control input-sm" datepicker-popup="{{jobCtrl.format}}" ng-model="jobCtrl.jobData.end_date" is-open="jobCtrl.opened['end']" min-date="jobCtrl.jobData.start_date || appCtrl.today" datepicker-options="jobCtrl.dateOptions" close-text="Close"  placeholder="MM/DD/YYYY" clear-text="Ongoing" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="jobCtrl.open($event,'end')"><i class="fa fa-calendar fa-fw"></i></button>
					</span>
				</p>
				<button class="btn btn-success btn-block btn-sm" ng-show="!jobCtrl.jobData.end_date && !jobCtrl.opened['end']" ng-click="jobCtrl.open($event,'end')">Ongoing</button>
			</div>
			<div class="col-md-3">
				<label>Partner Job ID</label>
				<input class="form-control input-sm" type="text" ng-model="jobCtrl.jobData.partner_job_number"  ng-required="false" />
			</div>
			<div class="col-md-3">
				<label>Partner Contact Name</label>
				<input class="form-control input-sm" type="text" ng-model="jobCtrl.jobData.partner_job_contact"  ng-required="false" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<label>Modio Notes</label>
				<textarea class="form-control input-sm" type="text" ng-model="jobCtrl.jobData.modio_notes"  ng-required="false"></textarea>
			</div>
      <div class="col-md-3">
        <label>Partner Contact Email</label>
        <input class="form-control input-sm" type="text" ng-model="jobCtrl.jobData.partner_job_email"  ng-required="false" />
      </div>
		</div>
		<div class="row"><div class="col-sm-12"><hr /></div></div>
		<div class="row">
			<div class="col-sm-12">
				<h4>Rates</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 form-group">
				<label>Standard Daily</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.standard_daily" />
			</div>
			<div class="col-xs-2 form-group">
				<label>Standard Hourly</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.standard_hourly" />
			</div>
			<div class="col-xs-2 form-group">
				<label>Weekend Daily</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.weekend_daily" />
			</div>
			<div class="col-xs-2 form-group">
				<label>Weekday Daily</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.weekday_daily" />
			</div>
			<div class="col-xs-2 form-group">
				<label>Weekday Call</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.weekday_call" />
			</div>
			<div class="col-xs-2 form-group">
				<label>Weekend Call</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.weekend_call" />
			</div>
			<div class="col-xs-2 form-group">
				<label>Outside Defined Shifts</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.outside_defined_shifts" />
			</div>
			<div class="col-xs-2 form-group">
				<label>Holiday Premium</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.holiday_premium" />
			</div>
			<div class="col-xs-2 form-group">
				<label>Callback</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.callback" />
			</div>
			<div class="col-xs-2 form-group">
				<label>Salary</label>
				<input type="number" class="form-control input-sm" ng-model="jobCtrl.jobData.salary" />
			</div>
		</div>
		<div class="row"><div class="col-sm-12"><hr /></div></div>
		<div class="row">
			<div class="col-sm-12">
				<h4>Requirements</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 form-group">
				<label>FMG OK?</label>
				<input type="checkbox" ng-model="jobCtrl.jobData.fmg_accepted" ng-true-value="1" ng-false-value="0" />
			</div>
			<div class="col-xs-3 form-group">
				<label>Visa Required?</label>
				<input type="checkbox" ng-model="jobCtrl.jobData.visa_required" ng-true-value="1" ng-false-value="0" />
			</div>
			<div class="col-xs-3 form-group">
				<label>BC/BE Required?</label>
				<input type="checkbox" ng-model="jobCtrl.jobData.bc_be" ng-true-value="1" ng-false-value="0" />
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btn-sm" role="submit" ng-disabled="edit_job_form.$invalid">Save</button>
			<button class="btn btn-danger btn-sm" role="button" type="button" ng-really-click="jobCtrl.delete()" ng-really-message="Are you sure you want to delete this Job?">Delete</button>
			<button class="btn btn-warning btn-sm" role="button" type="button" ng-click="appCtrl.goTo('/jobs')">Cancel</button>
		</div>
	</form>
</section>
