<!-- used to have ng-controller, but now realize the route handles it -->
<div>
	
	<script type="text/ng-template" id="create-job-modal"> 
		<!-- formly this shit -->
		<form name="new_job_form" ng-submit="jobsCtrl.submitJob()" novalidate>
			<div class="modal-header"> 
				<h3 class="modal-title">Create Job</h3> 
			</div> 
			
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6 form-group">
						<label>Job Type</label>
						<select name="job_type" class="form-control" ng-model="jobsCtrl.newJob.job_type"  ng-required="true">
							<option value="locum">Locum</option>
							<option value="permanent">Permanent</option>
						</select>
					</div>
					<div class="col-md-6 form-group">
						<label>Specialty</label>
						<select class="form-control" name="specialty_id" ng-model="jobsCtrl.newJob.specialty_id" ng-required="true" ng-options="spec.id as spec.specialty for spec in appCtrl.specialties"></select>
					</div>
				</div>
				<div class="form-group">
					<label>Facility</label>
					<input type="text" class="form-control" typeahead-min-length="4" typeahead-loading="loadingLocations" ng-model="jobsCtrl.newJob.facility_name" ng-required="true" typeahead="fac.facility_name as fac.facility_name for fac in jobsCtrl.queryFacilities($viewValue)" typeahead-on-select="jobsCtrl.newJob.facility_id = $item.id" typeahead-editable="false" />
					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
					<!--<select class="form-control" name="facility_id" ng-model="jobsCtrl.newJob.facility_id" ng-required="true" ng-options="fac.id as fac.facility_name for fac in appCtrl.facilities"></select>-->
				</div>
				<div class="form-group">
					<label>Job Title</label>
					<input class="form-control" type="text" name="job_title" ng-model="jobsCtrl.newJob.job_title"  ng-required="true" />
				</div>
				<div class="form-group">
					<label>Job Description</label>
					<input class="form-control" type="text" name="job_title" ng-model="jobsCtrl.newJob.description"  ng-required="true" />
				</div>
				<div class="row">
					<div class="col-xs-3 form-group">
						<label>Holiday Premium</label>
						<input type="number" class="form-control" ng-model="jobsCtrl.newJob.holiday_premium" />
					</div>
					<div class="col-xs-3 form-group">
						<label>Overnight Call</label>
						<input type="number" class="form-control" ng-model="jobsCtrl.newJob.overnight_call" />
					</div>
					<div class="col-xs-3 form-group">
						<label>Eight Hour</label>
						<input type="number" class="form-control" ng-model="jobsCtrl.newJob.eight_hour" />
					</div>
					<div class="col-xs-3 form-group">
						<label>Callback</label>
						<input type="number" class="form-control" ng-model="jobsCtrl.newJob.callback" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 form-group">
						<label>FMG OK?</label>
						<input type="checkbox" ng-model="jobsCtrl.newJob.fmg_accepted" ng-true-value="1" ng-false-value="0" />
					</div>
					<div class="col-xs-3 form-group">
						<label>Visa Required?</label>
						<input type="checkbox" ng-model="jobsCtrl.newJob.visa_required" ng-true-value="1" ng-false-value="0" />
					</div>
					<div class="col-xs-3 form-group">
						<label>Overnight Call Req?</label>
						<input type="checkbox" ng-model="jobsCtrl.newJob.overnight_call_required" ng-true-value="1" ng-false-value="0" />
					</div>
					<div class="col-xs-3 form-group">
						<label>Trauma Call Req?</label>
						<input type="checkbox" ng-model="jobsCtrl.newJob.trauma_call_required" ng-true-value="1" ng-false-value="0" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 form-group">
						<label>BC/BE Required?</label>
						<input type="checkbox" ng-model="jobsCtrl.newJob.bc_be" ng-true-value="1" ng-false-value="0" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Start Date</label>
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{jobsCtrl.format}}" ng-model="jobsCtrl.newJob.start_date" is-open="jobsCtrl.opened['start']" min-date="jobsCtrl.minDate" datepicker-options="jobsCtrl.dateOptions" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="jobsCtrl.open($event,'start')"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
					
					<div class="col-md-6">
						<label>End Date</label>
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{jobsCtrl.format}}" ng-model="jobsCtrl.newJob.end_date" is-open="jobsCtrl.opened['end']" min-date="jobsCtrl.minDate" datepicker-options="jobsCtrl.dateOptions" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="jobsCtrl.open($event,'end')"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label>Experience Low</label>
						<input type="number" class="form-control" ng-model="jobsCtrl.newJob.experience_low" />
					</div>
					<div class="form-group col-md-6">
						<label>Experience High</label>
						<input type="number" class="form-control" ng-model="jobsCtrl.newJob.experience_high" />
					</div>
				</div>
			</div> 
			<div class="modal-footer"> 
				<button class="btn btn-primary" role="submit" ng-disabled="new_job_form.$invalid">OK</button> 
				<button class="btn btn-warning" role="button" type="button" ng-click="jobsCtrl.closeModal()">Cancel</button> 
			</div>
		</form>
	</script>
	
	<section class="row">
		<div class="col-sm-12 form-group">
			<button class="btn btn-primary" ng-click="jobsCtrl.openNewJobForm()">Create Job</button>
		</div>
	</section>
	<section class="row">
		<div class="col-sm-12">
			<form ng-submit="jobsCtrl.getResults()">
				<div class="input-group">
					<input type="search" class="form-control" ng-model="jobsCtrl.searchQuery" value="" />
					<span class="input-group-btn">
						<button role="submit" class="btn btn-default" type="submit">Search</button>
			      </span>
				</div>
			</form>
		</div>
	</section>
	<section class="row">
		<div class="col-sm-12">
			<pagination total-items="jobsCtrl.totalJobs" ng-model="jobsCtrl.currentPage" max-size="jobsCtrl.maxSize" class="pagination-sm" boundary-links="true" ng-change="jobsCtrl.getResults()" items-per-page="25"></pagination>
		</div>
	</section>
	<section class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<caption class="ng-cloak"><strong>{{jobsCtrl.totalJobs}}</strong> Jobs Found</caption>
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>id</th>
							<th>Job Title</th>
							<th>Job Type</th>
							<th>Facility ID</th>
							<th> 
								<!--<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown">{{jobsCtrl.otherField}}<span class="caret"></span></a>
									<ul class="dropdown-menu" id="other-field-dropdown">
										<li><a ng-click="jobsCtrl.changeOther('locum_experience')">Locum Experience</a></li>
										<li><a ng-click="jobsCtrl.changeOther('tier')">Tier</a></li>
										<li><a ng-click="jobsCtrl.changeOther('trauma_call')">Trauma</a></li>
										<li><a ng-click="jobsCtrl.changeOther('npi_number')">NPI</a></li>
									</ul>
								</div>-->
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="job in jobsCtrl.jobs" class="search-row" data-job-id="{{job.id}}" ng-click="appCtrl.goTo('/jobs/{{job.id}}')">
							<td>{{ job.id }}</td>
							<td>{{ job.job_title }}</td>
							<td>{{ job.job_type }}</td>
							<td>{{ job.facility_id }}</td>
							<td>{{ job[jobsCtrl.otherField] }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	<section class="row">
		<div class="col-sm-12">
			<pagination total-items="jobsCtrl.totalJobs" ng-model="jobsCtrl.currentPage" max-size="jobsCtrl.maxSize" class="pagination-sm" boundary-links="true" ng-change="jobsCtrl.getResults()" items-per-page="25"></pagination>
		</div>
	</section>
	
</div>