<!-- used to have ng-controller, but now realize the route handles it -->

<div class="row">
	<div class="col-xs-12">
		<h4>Reports</h4>
	</div>
</div>

<section id="license-search-filters">
	<div class="row">
		<div class="col-md-4 col-sm-5 form-group">
			<form ng-submit="rc.getResults()">
				<input type="search" class="form-control input-sm" typeahead-min-length="4" typeahead-loading="loadingpha" ng-model="rc.queryData.q" placeholder="Search Provider..." />
			</form>
		</div>

		<div class="col-md-3 col-sm-6 form-group">
			<select class="form-control input-sm" ng-model="rc.queryData.state" ng-change="rc.getResults()" ng-options="st.abbreviation as st.abbreviation for st in appCtrl.usStates">
				<option value="">-- Select State --</option>
			</select>
		</div>
		<div class="col-md-3 col-sm-6 form-group">
			<select class="form-control input-sm" ng-model="rc.queryData.interval" ng-change="rc.getResults()">
				<option value="">-- Select Interval --</option>
				<option value="30">30 Days</option>
				<option value="60">60 Days</option>
				<option value="90">90 Days</option>
			</select>
		</div>
		<div class="col-md-2 col-sm-12 form-group">
			<button role="submit" class="btn btn-success btn-block btn-sm" type="submit" ng-click="rc.getResults()">Search</button>
		</div>
		<div class="col-md-2 col-xs-6 form-group">
			<a class="btn btn-info btn-block btn-sm" href="{{::rc.csvEndpoint}}">Download CSV (Beta)</a>
		</div>
	</div>
</section>

<div class="text-center row" ng-show="rc.loading">
	<div class="col-md-12 form-group">
	  <i class="fa fa-spinner fa-pulse fa-4x"></i>
	</div>
</div>

<div class="row" id="license-tabs">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
		  <li role="presentation" ng-class="{ 'active': rc.queryData.type_id == null }"><a ng-click="rc.changeLicenseType()">All</a></li>
		  <li role="presentation" ng-class="{ 'active': rc.queryData.type_id == 0 }"><a ng-click="rc.changeLicenseType(0)">State</a></li>
			<li role="presentation" ng-class="{ 'active': rc.queryData.type_id == 1 }"><a ng-click="rc.changeLicenseType(1)">DEA</a></li>
		  <li role="presentation" ng-class="{ 'active': rc.queryData.type_id == 2 }"><a  ng-click="rc.changeLicenseType(2)">State Controlled</a></li>
		</ul>
	</div>
</div>
<div ng-show="!rc.loading">
	<!--<section class="row">
		<div class="col-sm-12">
			<pagination total-items="rc.totalRecords" ng-model="rc.queryData.page" max-size="rc.maxSize" class="pagination-sm" boundary-links="true" ng-change="rc.getResults()" items-per-page="25" data-ng-if="rc.totalRecords"></pagination>
		</div>
	</section>-->
	<section class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<caption class="ng-cloak control-group"><strong ng-bind="rc.totalRecords"></strong> Records Found</caption>
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th ng-click="rc.sortResult('id')">id</th>
							<th ng-click="rc.sortResult('provider_name')">Name</th>
							<th ng-click="rc.sortResult('type_id')">License Type</th>
							<th ng-click="rc.sortResult('state')">State</th>
							<th ng-click="rc.sortResult('expiration_date')">Expiration</th>
							<th ng-click="rc.sortResult('expiration_date')">Expires In</th>
							<th ng-click="rc.sortResult('alerts')">Alerts</th>
							<th ng-click="rc.sortResult('locked')">Locked</th>
							<th ng-click="rc.sortResult('date_updated')">Date Updated</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="l in rc.licenses" ng-click="appCtrl.goTo('/providers/{{::l.doctor_id}}')">
							<td ng-bind="l.id"></td>
							<td ng-bind="l.provider_name"></span></td>
							<td ng-bind="rc.licenseTypes.get({ key: l.type_id}).label"></td>
							<td ng-bind="l.state"></td>
							<td ng-bind="l.expiration_date"></td>
							<td ng-bind="rc.getDuration(l.expiration_date)"></td>
							<td ng-bind="(l.alerts == 1) ? 'Yes' : 'No' "></td>
							<td ng-bind="(l.locked == 1) ? 'Yes' : 'No' "></td>
							<td ng-bind="l.date_updated"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<!--<section class="row">
		<div class="col-sm-12">
			<pagination total-items="rc.totalRecords" ng-model="rc.queryData.page" max-size="rc.maxSize" class="pagination-sm" boundary-links="true" ng-change="rc.getResults()" items-per-page="25" data-ng-if="rc.totalRecords"></pagination>
		</div>
	</section>-->
</div>
