<section>
	
	<div id="no-data" ng-show="offerCtrl.error" class="ng-cloak">Job Not Found</div>
	<h4><a ng-href="#/doctor/{{offerCtrl.offerData.doctor_id}}" style="font-variant: small-caps">{{offerCtrl.offerData.doctor_name}}</a> applied to <a style="font-variant: small-caps" ng-href="#/jobs/{{offerCtrl.offerData.job_id}}">&quot;{{offerCtrl.offerData.job_title}}&quot;</a> <span style="font-variant: small-caps">[{{offerCtrl.offerData.status}}]</span></h4>
	<form id="offer-form" name="edit_offer_form" ng-submit="offerCtrl.save()" ng-show="offerCtrl.offerData" class="ng-cloak" novalidate>
		<div class="row">
			<div class="col-xs-3 form-group">
				<label>Job ID</label>
				<input class="form-control" type="text" name="job_id" ng-model="offerCtrl.offerData.job_id"  ng-required="true" readonly />
			</div>
			<div class="col-xs-3 form-group">
				<label>Doctor ID</label>
				<input class="form-control" type="text" name="doctor_id" ng-model="offerCtrl.offerData.doctor_id"  ng-required="true" readonly />
			</div>
			<div class="col-xs-3 form-group">
				<label>Visible</label>
				<select class="form-control" ng-model="offerCtrl.offerData.visible"  ng-required="true">
					<option value="1">Visible</option>
					<option value="0">Archived</option>
				</select>
			</div>
			<div class="col-xs-3 form-group">
				<button class="btn-success btn btn-block" type="button" ng-click="offerCtrl.acceptOffer()">Accept</button>
				<button class="btn-danger btn btn-block" type="button" ng-click="offerCtrl.rejectOffer()">Reject</button>
			</div>
		</div>

		<div class="row"><div class="col-sm-12"><hr /></div></div>

		<div class="row">
			<div class="col-sm-12">
				<h4>Rates</h4>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-3 form-group" ng-repeat="rate in appCtrl.rateTypes">
				<label>{{rate.name}}</label>
				<input type="number" class="form-control" ng-model="offerCtrl.offerData[rate.field]" />
			</div>
		</div>
		<div class="row"><div class="col-sm-12"><hr /></div></div>
		<div class="modal-footer"> 
			<button class="btn btn-primary" role="submit" ng-disabled="edit_offer_form.$invalid">Submit</button> 
		</div>
	</form>
</section>