<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills">
			<li role="presentation"><a ng-click="appCtrl.goTo('/doctor/'+dr.doctorData.id)">Home</a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/doctor/{{dr.doctorId}}/account-info')">Account Info</a></li>
			<li role="presentation">
				<a ng-click="appCtrl.goTo('/doctor/{{dr.doctorId}}/education-and-work')">Education &amp; Work</a>
			</li>
			<li role="presentation">
				<a class="active">Qualifications</a>
			</li>
		</ul>
	</div>
</div>
<hr />