
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills">
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::track.doctorId}}')" class="ng-cloak">General Info</a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::track.doctorId}}/account-info')">Account Info</a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::track.doctorId}}/education-and-work')">Education &amp; Work</a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::track.doctorId}}/qualifications')">Qualifications</a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::track.doctorId}}/uploads')">Uploads</a></li>
			<li role="presentation" class="active"><a>Tracking <span class="badge" ng-bind="track.trackingData.length"></span></a></li>
			<li role="presentation"><a ng-click="appCtrl.goTo('/providers/{{::track.doctorId}}/job-matches')">Matches <span class="badge" ng-bind="track.matches.length"></span></a></li>
		</ul>
	</div>
</div>
<hr />
<div ng-show="track.trackingData.length < 1" ng-cloak><h4>No tracking data</h4></div>
<div ng-repeat="t in track.trackingData">
	<h4>Campaign: <span ng-bind="t.campaign"></span></h4>
	<div class="row">
		<div class="col-md-6">
			<label>Date Created:</label>
			<span ng-bind="t.date_created"></span>
		</div>
		<div class="col-md-6">
			<label>IP Address:</label>
			<span ng-bind="t.ip_address"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>Source:</label>
			<span ng-bind="appCtrl.source[t.source].name"></span>
		</div>
		<div class="col-md-6">
			<label>Campaign:</label>
			<span ng-bind="t.campaign"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>Page Name:</label>
			<span ng-bind="t.page_name"></span>
		</div>
		<div class="col-md-6">
			<label>Page URL</label>
			<span ng-bind="t.page_url"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>Page Variant:</label>
			<span ng-bind="t.variant"></span>
		</div>
		<div class="col-md-6">
			<label>Page ID:</label>
			<span ng-bind="t.page_uuid"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label>User Agent:</label>
			<span ng-bind="t.user_agent"></span>
		</div>
	</div>
	<hr />
</div>