<section id="general-info">
	<div id="no-data" ng-show="dr.error" class="ng-cloak">Doctor Not Found</div>
	<div class="row">
		<ul class="nav nav-pills">
		  <li role="presentation"><a ng-click="appCtrl.goTo('/doctor/{{up.doctorId}}')">General Info</a></li>
		  <li role="presentation"><a ng-click="appCtrl.goTo('/doctor/{{up.doctorId}}/account-info')">Account Info</a></li>
		  <li role="presentation"><a ng-click="appCtrl.goTo('/doctor/{{up.doctorId}}/education-and-work')">Education &amp; Work</a></li>
		  <li role="presentation"><a ng-click="appCtrl.goTo('/doctor/{{up.doctorId}}/qualifications')">Qualifications</a></li>
		  <li role="presentation" class="active"><a>Uploads</a></li>
		</ul>
	</div>
	<hr />
	<div class="row">
		
		<div class="col-md-6" ng-repeat="obj in up.uploadTypes">
			<h4>{{obj.title}}</h4>
			<div ngf-drop ng-model="files" class="drop-box" ngf-change="upload($files,obj.type)" 
		     ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
		     ngf-accept="'image/*,application/pdf'">Drop Images or PDFs files here</div>
			<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>		
			<button class="btn btn-primary" ng-show="up.uploads[obj.type]" ng-click="up.getFileLink(obj.type)">Get {{obj.title}} Download Link</button>
			<button class="btn btn-danger" ng-show="up.uploads[obj.type]" ng-really-message="Are you sure you want to delete this {{obj.title}}?" ng-really-click="up.deleteUpload(obj.type)">Delete {{obj.title}}</button>
			<a href="{{up.downloads[obj.type]}}" class="btn btn-success" ng-show="up.downloads[obj.type]">Download {{obj.title}}</a>
		</div>
	</div>
	
</section>