<div class="row">
	<div class="col-sm-12">
		<h4>Choose User Type</h4>
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-2 text-center">
		<div class="thumbnail big-link">
			<i class="fa fa-user-md fa-4x"></i>
			<hr />
			<div class="padded"><a ng-href="#/doctors" class="btn btn-primary btn-block">Doctors</a></div>
		</div>
	</div>
	<div class="col-sm-4 text-center">
		
		<div class="thumbnail big-link">
			<i class="fa fa-users fa-4x"></i>
			<hr />
			<div class="padded"><a ng-href="#/coordinators" class="btn btn-primary btn-block">Coordinators</a></div>
		</div>
	</div>
</div>
