<div class="row">
    <div class="form-group col-xs-1 col-sm-1 col-md-1">
        <input id="{{day_label}}" type="checkbox" ng-model="model.active" ng-true-value="1" ng-false-value="0"/>
        <label for="{{day_label}}">{{day_label}}</label>
    </div>
    <div class="form-group col-xs-2 col-sm-2 col-md-2">
        <label>From</label>
        <div class="bootstrap-timepicker">
            <input type="text" class="timepicker-open form-control input-sm" ng-model="model.from">
        </div>
    </div>
    <div class="form-group col-xs-2 col-sm-2 col-md-2">
        <label>To</label>
        <div class="bootstrap-timepicker">
            <input type="text" class="timepicker-close form-control input-sm" ng-model="model.to">
        </div>
    </div>
</div>