<div class="row">
    <div class="form-group col-xs-12 col-sm-12 col-md-1">
        <label for="{{day_label}}">{{day_label}}</label>
        <div>
            <input id="{{day_label}}" type="checkbox" ng-model="model.active" ng-true-value="1" ng-false-value="0"/>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-2">
        <label>From</label>
        <timepicker ng-model="model.from" show-meridian="true" show-spinners="false"></timepicker>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-2">
        <label>To</label>
        <timepicker ng-model="model.to" show-meridian="true" show-spinners="false"></timepicker>
    </div>
</div>
